@charset "UTF-8";

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
}

/* BOTÃO HAMBURGUER */

.menu-btn {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

/* MENU */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  background: #0f0f0f;
  color: white;
  padding: 60px 20px 20px;
  transition: transform 0.3s ease;
}

.logo {
  margin-bottom: 30px;
}

.sidebar nav a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
}

.sidebar nav a:hover {
  background: #272727;
}

/* CONTEÚDO */
.content {
  height: 100vh;
  background: url("../imagens/projeto.2.jpg") no-repeat center / cover;
  border: 1px solid black;
  box-shadow: 1px 1px 5px black;
}

.content-text {
  margin-left: 100px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.texto-intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 320px;
  max-width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.projects {
  margin-left: 220px;
  min-height: 100vh;
  padding: 80px;
  display: flex;
  gap: 30px;
}

.cards {
  flex: 1;
  background: #f2f2f2;
  padding: 20px;
  border-radius: 12px;
}

.about-me {
  background: url("../imagens/projeto.2.jpg") no-repeat center / cover;
  border: 1px solid black;
  box-shadow: 1px 1px 5px black;
  min-height: 100vh;
}

.sobre {
  margin-left: 300px;
}

.sobre img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  padding: 10px;
}

/* 📱 MOBILE */
@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .menu-btn {
    display: block;
    color: green;
  }

  .sidebar {
    transform: translateX(-100%);
    z-index: 1000;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .content {
    margin-left: 0;
    padding-top: 60px;
  }

  .content-text{
    margin-left: 0;
  }

  .cards{
    margin-left: 0px;
  }

  .projects {
    flex-direction: column;
    margin: 0;
  }
  
  .sobre {
    margin: 0;
  }
}